body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

header p {
  margin-top: 5px;
  font-size: 18px;
}

#search-bar {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  display: block;
}

main {
  padding: 20px;
}

.show-card {
  width: calc(33.33% - 20px);
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.show-card:hover {
  transform: scale(1.05);
}

.show-card h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.show-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.show-card p {
  margin: 5px 0;
  color: #666;
}

#shows-listing {
  clear: both;
}

#result-count {
  text-align: center;
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

#episode-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.episode-card {
  width: calc(33.33% - 20px);
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.episode-card:hover {
  transform: scale(1.05);
}

.episode-card h4 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.episode-card p {
  margin: 5px 0;
  color: #666;
}

#back-to-shows-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

#back-to-shows-btn:hover {
  background-color: #555;
}
